body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

ul
{
    list-style-type: none;
}

.deleteitem {
	float: right;
	display: none;
}

.fa-eraser, .fa-pencil-square-o, .fa-check, .fa-check-circle-o {
	float: right;
	padding: 10px
}


.input-group {
	margin:0px auto;
}

.strike {
	text-decoration: line-through;
}