<!DOCTYPE html>
<html ng-app="todoApp">
<head>
	<title>Angular to-do list</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Bootstrap -->
	<link href="css/bootstrap.css" rel="stylesheet" media="screen">
	<link href="css/style.css" rel="stylesheet" media="screen">
	<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->
  </head>
  <body ng-controller="ItemCtrl">
  	<div class="container">
  		<div class="starter-template col-lg-12">
  			<h1>Angular Simple To-do List</h1>
  			<p class="lead">type in an item and hit <strong>enter</strong> to add it to the list.</p>
  				<form ng-submit="addItem()">
  					<div class="input-group">
  						<input class="form-control" type="text" id="textbox" ng-model="newItem">
  						<!-- <span class="input-group-button">
  							<button class="btn btn-default" ng-click="addData()">Submit</button>
  						</span> -->
					</div>
				</form>
  		</div>
  		<div class="list-group">
  			<ul class="list-group">
  				<li class="listitem" ng-show="newItem">
  					<div class="list-group-item">
  						{{newItem}}
  					</div>
  				</li>
  				<li class="listitem" ng-repeat="item in items">
  					<div class="list-group-item">
  						{{item.item}}
	  					<a>
	  						<i ng-click="removeItem($index)" class="fa fa-eraser"></i>
	  					</a>
  					</div>
  				</li>
  			</ul>
  		</div>
	</div>

<script src="scripts/angular.js"></script>
<script src="scripts/controllers.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="scripts/jquery-1.10.2.js"></script>
<script src="scripts/bootstrap.js"></script>

<!-- <script>

	$(function () {
		$( 'form' ).submit(function (event) {
			$('ul')
				.append($('<li/>', { 'class': 'listitem' })
					.append($('<a/>', {
						'href': '#',
						'text': $("input#textbox").val(),
						'class': 'list-group-item'})
					.append($('<span/>', {'class': 'glyphicon glyphicon-remove-circle float-right deleteitem' }))
					)
					
				);
				
			event.preventDefault();
			$("input").val("");
		});

		$('#submitbtn').click(function () {
			$('ul').append($('<li/>', {}).
				append($('<a/>', {
					'href': '#',
					'text': $("input#textbox").val(),
					'class': 'list-group-item'
				})));
		});

		$( '#todolist' ).on('click', '.deleteitem', function() {
			$( this ).parent().slideUp();
		});

		$( '#todolist' ).on('mouseenter', '.listitem', function() { 
			$( this ).find('span').fadeIn( 600 ); 
        });

        $( '#todolist' ).on('mouseleave', '.listitem', function() { 
			$( this ).find('span').hide(); 
        });
        		
		
	});
</script> -- >
</body>
</html>